@font-face {
  font-family: "ConcursoItalian";
  src: url("./fonts/ConcursoItalianBTN.eot"); /* IE9 Compat Modes */
  src: url("./fonts/ConcursoItalianBTN.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/ConcursoItalianBTN.otf") format("opentype"), /* Open Type Font */
    url("./fonts/ConcursoItalianBTN.svg") format("svg"), /* Legacy iOS */
    url("./fonts/ConcursoItalianBTN.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/ConcursoItalianBTN.woff") format("woff"), /* Modern Browsers */
    url("./fonts/ConcursoItalianBTN.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ConcursoItalian";
  src: url("./fonts/ConcursoItalianBTNBold.eot"); /* IE9 Compat Modes */
  src: url("./fonts/ConcursoItalianBTNBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/ConcursoItalianBTNBold.otf") format("opentype"), /* Open Type Font */
    url("./fonts/ConcursoItalianBTNBold.svg") format("svg"), /* Legacy iOS */
    url("./fonts/ConcursoItalianBTNBold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/ConcursoItalianBTNBold.woff") format("woff"), /* Modern Browsers */
    url("./fonts/ConcursoItalianBTNBold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: 600;
  font-style: normal;
}

div,h1,h2,h3,h4,h5,h6,p,li,a,span,strong {
	overflow-wrap: normal;
    word-wrap: normal;
    -ms-word-break: normal;
    word-break: normal;
    word-break: normal;
    -ms-hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
    page-break-inside: avoid;
}
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
pre {
	font-family: $font_pre;
	font-size: 13px;
	line-height: 1.3;
}
a,button,input {
	transition: all ease-out .3s;
}
body {
	font-family: $font_main;
	font-size: 14px;
	line-height: 1.4;
	color: $color_main;
	background: $primary;
}
.cf:before, .cf:after {
    content: " "; 
    display: table; 
}
.cf:after { clear: both; }
.cf { *zoom: 1; }
.text-center {text-align:center;}

/* Text meant only for screen readers. */
.sr {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	&:focus {
		background-color: #333;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		color: #FFF;
		display: block;
		@include font-size(0.875);
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}
.wrapper {
	max-width: $wrapper;
	width: 100%;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}
.site {
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
}

/* Header */
.logo {
	width: 180px;
	top: 0;
	@include tab {
		width: 200px;
	}
	a, img {
		display: block;
		float: left;
		position: relative;
		width: 100%;
		height: auto;
	}
}
.site-header {
	position: relative;
	z-index: 500;
	.wrapper {
		position: relative;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.inner {
		position: relative;
		@include flexgroup-center();
	}
}

/* Navigation */
.topmenu {
	display: inline-block;
	position: absolute;
	top: 0;
	right: 20px;
	z-index: 50;
	.links {
		display: inline-block;
		float: right;
	}
	a {
		display: inline-block;
		text-decoration: none;
		color: #FFF;
		text-transform: uppercase;
		font-size: 14px;
		line-height: 1.2;
		padding: 6px 14px;
		float: left;
		position: relative;
		z-index: 30;
		&.green {
			background: $darkgreen;
			&:hover {
				background: tint($darkgreen,20%);
			}
		}
		&.orange {
			background: $orange;
			margin-left: 8px;
			&:before {
				content:"";
				display: block;
				width: 2px;
				height: 100%;
				background: $gold;
				position: absolute;
				top: 0;
				left: -5px;
			}
			&:hover {
				background: tint($orange,20%);
			}
		}
	}
}

.order-options {
	display: none;
	width: 100%;
	float: left;
	background: $orange;
	color: #FFF;
	position: absolute;
	top: 28px;
	right: 0;
	box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.35);
	-webkit-border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    .closediv {
    	text-align: center;
    	width: 100%;
    	float: left;
    	padding-top: 10px;
    	padding-bottom: 10px;
    	#close-order {
	    	cursor: pointer;
		    text-decoration: none;
		    display: inline-block;
		    color: #FFF;
		    padding: 2px 0 2px;
		    text-transform: uppercase;
		    font-size: 11px;
		    line-height: 1;
		    font-weight: 400;
		    float: none;
		    border-bottom: 1px solid #FFF;
		    position: relative;
		    top: -2px;
		    &:hover {
		    	opacity: 0.65;
		    }
	    }
    }
    
	.orderlink {
		width: 100%;
		float: left;
		a {
			display: block;
			float: left;
			position: relative;
			padding: 12px 10px;
			color: #FFF;
			width: 100%;
			border-bottom: 1px dotted rgba(255,255,255, 0.35);
			@include flexgroup-center();
			&:hover {
				background: tint($orange,20%);
			}
			img {
				width:  25%;
				height: auto;
				border-radius: 100%;
				border: 1px solid #FFF;
			}
			span.text {
				display: block;
				font-size: 12px;
				line-height: 1.3;
				text-transform: none;
				width: 75%;
				padding-left: 10px;
			}
		}
	}
}

.main-navigation {
	width: 100%;
	@include tab {
		width: 70%;
		position: absolute;
		right: 0;
	}
	.main-menu {
		display: inline-block;
		float: right;
		position: relative;
		@include tab {
			right: -20px;
			top: 15px;
		}
	}
	ul {
		margin: 0 0;
		padding: 0 0;
		list-style: none;
	}
	li {
		position: relative;
	}
	ul.menu a {
		display: inline-block;
		text-decoration: none;
		position: relative;
	}
	ul.menu {
		text-align: right;
	}
	ul.menu > li {
		display: inline-block;
		text-align: center;
	}
	ul.menu > li > a {
		text-transform: uppercase;
		color: $color_main;
		font-size: 14px;
		line-height: 1.5;
		padding: 5px 20px;
	}
	ul.menu > li:hover > a {
		color: $gold;
	}
}
.menu-toggle {
	display: none;
}
@media screen and (max-width: $tabwidth - 1px) {
	.site-header {
		height: 100px;
		.wrapper {
			padding-left: 0;
			padding-right: 0;
		}
	}
	.main-navigation {
		display: none;
		position: absolute;
		top: 69px;
		left: 0;
		background: $primary;
		width: 100%;
		padding-top: 30px;
		padding-bottom: 30px;
		// box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.35);
		border-top: 1px solid #deceb3;
		border-bottom: 5px solid $gold;
		ul.menu {
			width: 100%;
			float: left;
		}
		ul.menu > li {
			display: block;
			width: 100%;
			float: left;
			text-align: center;
		}
		ul.menu > li > a {
			display: block;
			font-size: 18px;
			padding: 12px 15px;
		}
	}
	.logo {
		position: absolute;
		top: -10px;
		left: 20px;
		width: 130px;
	}
	.menu-toggle {
		display: block;
		width: 50px;
		height: 50px;
		border: none;
		-webkit-appearance: none;
		background: transparent;
		box-shadow: none;
		text-shadow: none;
		border-radius: 0px;
		margin: 0 0;
		position: absolute;
		padding: 0 4px;
		top: 10px;
		right: 20px;
		@include mid {
			display: none;
		}
		span.bar,
		span.bar:before, span.bar:after {
			display: block;
			width: 100%;
			height: 3px;
			background: #333;
			transition: all ease-out .3s;
		}
		span.bar {
			position: relative;
			&:before,
			&:after {
				content:"";
				position: absolute;
			}
			&:before {
				top: -11px;
			}
			&:after {
				top: 11px;
			}
		}

		&:hover,&:focus, &:active {
			background: transparent;
			box-shadow: none;
			border: none;
		}
		&.open {
			span.bar {
				background: transparent;
				&:before {
					transform: translateY(11px) rotate(45deg);
				}
				&:after {
					transform: translateY(-11px) rotate(-45deg);
				}
			}
		}
	}
}


/* Body */
#content {
	position: relative;
	z-index: 10;
}
body.home {
	.site {
		&:before {
			content:"";
			display: block;
			width: 100%;
			height: 465px;
			background: url("images/pattern.jpg") top center repeat-x;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}
.slidesWrapper {
	max-width: $wrapper;
	width: 100%;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
	z-index: 8;
	.static {
		width: 100%;
		height: 100%;
		float: left;
		position: absolute;
		top: 0;
		left: 0;
	}
	.slideInner {
		position: relative;
		width: 100%;
		float: left;
		z-index: 20;
	}
	img.frame {
		width: 100%;
		height: auto;
		float: left;
	}
	.slideshow,
	.swiper-container {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
		padding: 0 0;
		
		
	}
	.swiper-wrapper {
		position: relative;
	}
	.swiper-wrapper,
	.swiper-slide {
		width: 100%;
		height: 100%;
	}
	.swiper-slide {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		position: relative;
		&:before {
			content:"";
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 50;
			background:url("images/frame2.png");
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
		}
		.slide-image {
			width: 100%;
			height: 100%;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			clip-path: polygon(95% 0%, 5% 0%, 0% 5%, 0% 95%, 5% 100%, 95% 100%, 100% 95%, 100% 5%);
		}
	}
}
.flexrow {
	position: relative;
	@include flexgroup();
}
#content {
	width: 100%;
	float: left;
}
.homecontent {
	.flexrow {
		@include flexgroup-center();
	}
	.row1 {
		padding-top: 50px;
		padding-bottom: 50px;
		.imagecol,
		.textcol {
			width: 100%;
		}
		&.half {
			.imagecol {
				width: 100%;
				margin-bottom: 68px;
				padding: 30px;
				@include tab {
					width: 50%;
					margin-bottom: 0;
				}
				img {
					width: 100%;
					height: auto;
					box-shadow: -4px 4px 5px -3px rgba(0,0,0,0.45);
					transform: rotate(-4deg);
				}
			}
			.textcol {
				width: 100%;
				line-height: 1.7;
				margin-bottom: 60px;
				@include tab {
					width: 50%;
					padding: 0 0 0 5%;
					margin-bottom: 0;
				}
				.inside {
					text-align: center;
					position: relative;
					&:before, &:after {
						content:"";
						display: block;
						width: 210px;
    					height: 15px;
						background:url("images/divider.svg") top center no-repeat;
						position: absolute;
						left: 50%;
						transform: translateX(-50%);

					}
					&:before {
						top: -40px;
					}
					&:after {
						bottom: -50px;
					}
					p:first-child {
						margin-top: 0;
					}
					p:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}

.food-menu {
	width: 100%;
	float: left;
	color: #FFF;
	position: relative;
	z-index: 20;
	&:before,&:after {
		content:"";
		display: block;
		width: 100%;
		background: $gold;
		position: absolute;
		left: 0;
	}
	&:before {
		top: -14px;
		height: 4px;
	}
	&:after {
		top: -7px;
		height: 2px;
	}
	.inner {
		width: 100%;
		float: left;
		position: relative;
		background: $orange;
		padding-top: 50px;
		padding-bottom: 50px;
		background:url("images/menu-pattern.png") top center repeat;
		&:before,&:after {
			content:"";
			display: block;
			width: 100%;
			background: $gold;
			position: absolute;
			left: 0;
		}
		&:before {
			bottom: -14px;
			height: 4px;
		}
		&:after {
			bottom: -7px;
			height: 2px;
		}
	}
	.section-title {
		font-family: $font_secondary;
		font-size: 50px;
		line-height: 1.1;
		text-transform: uppercase;
		display: block;
		width: 100%;
		text-align: center;
		margin: 20px 0;
		span {
			display: inline-block;
			position: relative;
			&:before, &:after {
				content:"";
				display: block;
				width: 120px;
				height: 30px;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				background:url('images/noodle.svg') center no-repeat;
			}
			&:before {
				left: -140px;
			}
			&:after {
				right: -140px;
			}
		}
	}
	.flexrow.info {
		padding: 10px 0 25px;
	}
	.food-menu-items {
		width: 100%;
		@include flexgroup-center();
		@include flexbox-justify(center);
		@include flexbox-align-items(center);
		.foodMenuName {
			width: 140px;
			height: 90px;
			text-align: center;
    		margin: 10px 12px;
			background:url("images/shape.svg") center no-repeat;
			transition: all ease-out .3s;
			&:hover {
				transform: scale(1.1);
			}
			@include flexgroup-center();
			@include flexbox-justify(center);
			@include flexbox-align-items(center);
			a {
				display: block;
				text-align: center;
				text-decoration: none;
				color: $orange;
				width: 100%;
				&:hover {
					color: $gold;
					span {
						color: $gold;
					}
				}
			}
			span {
				display: block;
				text-align: center;
				font-size: 18px;
				line-height: 1;
				text-transform: uppercase;
				color: $orange;
				width: 100%;
				padding: 15px 0;
			}
		}
	}
}
.rectangle {
	overflow: hidden;
	position: relative;
	&:before, &:after {
		content: "";
		display: block;
		width: calc(100% - 70px);
		border-top: 1px solid #FFF;
		position: absolute;
		left: 35px;
	}
	&:before {
		top: 0;
	}
	&:after {
		bottom: 0;
	}
	.layer1 {
		position: relative;
		min-height: 20em;
		padding: 30px;
		&:before, &:after {
			content:"";
			display: block;
			height: calc(100% - 62px);
			position: absolute;
			top: 31px;
		}
		&:before {
			border-left: 1px solid #FFF;
			left: 0;
		}
		&:after {
			border-right: 1px solid #FFF;
			right: 0;
		}
	}
	.layer2 {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		.top,
		.bottom {
			width: calc(100% - 90px);
			height: 4px;
			position: absolute;
			background: url("images/dot.svg") top left repeat-x;
			left: 42px;
		}
		.top {
			top: 4px;
		}
		.bottom {
			bottom: 4px;
		}
		&:before, &:after {
			content:"";
			display: block;
			width: 4px;
			height: calc(100% - 90px);
			background: url("images/dotV.svg") 0 0 repeat-y;
			position: absolute;
			top: 44px;
		}
		&:before {
			left: 5px;
		}
		&:after {
			right: 5px;
		}
	}
	.corner {
		width: 100%;
		position: absolute;
		left: 0;
		&.top {
			top: 0;
			&:before, &:after {
				content: "";
				display: block;
				width: 69px;
				height: 69px;
				border-radius: 100%;
				border: 1px solid #FFF;
				position: absolute;
				top: -39px;
			}
			&:before {
				left: -35px;
			}
			&:after {
				right: -35px;
			}
			span {
				display: block;
				width: 38px;
				height: 37px;
				position: absolute;
				top: 4px;
				background: url(images/corner.svg);
				background-position: 0 0;
				background-repeat: no-repeat;
				&.left {
					left: 6px;
				}
				&.right {
					right: 6px;
					transform: scaleX(-1);
				}
			}
		}
		&.bottom {
			bottom: 0;
			&:before, &:after {
				content: "";
				display: block;
				width: 69px;
				height: 69px;
				border-radius: 100%;
				border: 1px solid #FFF;
				position: absolute;
				bottom: -39px;
			}
			&:before {
				left: -35px;
			}
			&:after {
				right: -35px;
			}
			span {
				display: block;
				width: 38px;
				height: 37px;
				position: absolute;
				bottom: 4px;
				background: url(images/corner.svg);
				background-position: 0 0;
				background-repeat: no-repeat;
				&.left {
					left: 6px;
					transform: scaleY(-1);
				}
				&.right {
					right: 6px;
					transform: rotate(-90deg) scaleY(-1);
				}
			}
		}
	}
	.flexrow.info {
		position: relative;
		z-index: 10;
	}
}

.section-contact {
	width: 100%;
	float: left;
	position: relative;
	padding-top: 60px;
	padding-bottom: 60px;
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	&:before {
		content:"";
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: $primary;
		opacity: 0.8;
	}
	.wrapper {
		position: relative;
		z-index: 10;
	}
	.contactinfo {
		max-width: 400px;
		width: 100%;
		margin: 0 auto;
		position: relative;
		background: url("images/round-shape.svg") center no-repeat;
		img.placeholder {
			width: 100%;
			height: auto;
		}
	}
	.inside {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 20;
		@include flexgroup-center();
		@include flexbox-justify(center);
		@include flexbox-align-items(center);
		text-align: center;
	}
	.title {
		font-family: $font_secondary;
		font-size: 60px;
		line-height: 1;
		text-transform: uppercase;
		color: $color_main;
		margin-bottom: 5px;
	}
	.details {
		position: relative;
		&:before,&:after {
			content:"";
			display: block;
			width: 135px;
			height: 20px;
			margin: 0 auto;
			position: relative;
			background: url("images/curl.svg") center no-repeat;
		}
		&:before {
			top: -6px;
		}
		&:after {
			bottom: -6px;
		}
		.info {
			font-family: $font2;
			font-size: 18px;
			text-transform: uppercase;
			padding: 4px 0;
		}
	}
	.gmap {
		margin-top: 15px;
		a {
			display: inline-block;
			text-decoration: none;
			position: relative;
			font-size: 14px;
			line-height: 1;
			padding: 5px 8px;
			color: $color_main;
			border: 1px solid $color_main;
			&:hover {
				background: $gold;
				border-color: $gold;
				color: #FFF;
			}
		}
	}
}

.content-area.default {
	.site-main {
		min-height: 30em;
	}
}

h1.entry-title {
	font-family: $font_secondary;
	font-size: 60px;
    line-height: 1.2;
    margin: 0 0;
}
/* Footer */
.site-footer {
	width: 100%;
	float: left;
	position: relative;
	background: #231f20;
	color: $primary;
	padding-top: 40px;
	padding-bottom: 40px;
	.social-media-col {
		text-align: center;
		.vertical-middle {
			display: inline-block;
			border-bottom: 1px solid $gold;
			padding-bottom: 15px;
			padding-left: 40px;
			padding-right: 40px;
			margin-bottom: 5px;
		}
		.span1 {
			letter-spacing: 1px;
			padding-right: 10px;
		}
		.span2 a {
			display: inline-block;
			text-decoration: none;
			color: $primary;
			margin: 2px 5px;
			font-size: 20px;
			&:hover {
				color: #FFF;
			}
		}
	}
	.footer-text {
		margin-top: 15px;
		margin-bottom: 25px;
	}
	.section-partners {
		.flexrow {
			@include flexgroup-center();
			@include flexbox-justify(center);
			@include flexbox-align-items(center);
		}
		.info {
			padding: 10px 30px;
			img {
				width: auto;
				height: 70px;
			}
		}
	}
}
